doctype html
head
  title HQsack
  script(src="https://code.jquery.com/jquery-3.3.1.min.js")
  script(type="text/javascript")
    | window.displayTest = #{displayTest || false};
  script(src="/js/hqsack.js")
  link(rel="stylesheet", type="text/css", href="/css/hqsack.css")
html
  body
    .container
      a.github(href="https://github.com/acrimi/HQSack", target="_blank")
        | HQsack &nbsp;
        img(src="/images/github.png", width="30px", height="30px")
      a.extra-life(href="/extra-life", title="Get a life")
        img(src="/images/heart.png", width="32px", height="32px")
        span.life-count 0
      .options-wrapper
        input#highlight-box(type="checkbox", checked="true")
        label(for="highlight-box") Enable search highlighting (Experimental)
      .page.countdown.hidden
        a.action.test(href="/test") View example question >
        h1.title HQsack
        p.tag HQ Search Assist Client
        img(src="/images/cusack1.png")
        p.label The next game starts in
        .clock
          span.hours
          | :
          span.minutes
          | :
          span.seconds
      .page.waiting.hidden
        h1.title The game has begun!
        img(src="/images/cusack2.png")
        p.label.pulse Waiting for next question...
      .page.question.hidden
        if displayTest
          a.action.back(href="/") < Back to home
        .info
          p.question-line
            span.question-number.decoration
            span.question-text(title="Click to append word to answer search. Shift+click or right click to append multiple.")
            | &nbsp;
            a.action.clear-modifiers.hidden Clear
          span.decoration.one 1)&nbsp;
          span.answer.one
          | &nbsp;&nbsp;&nbsp;
          span.decoration.two 2)&nbsp;
          span.answer.two
          | &nbsp;&nbsp;&nbsp;
          span.decoration.three 3)&nbsp;
          span.answer.three
        .question-timer
        iframe.question-search
        .frames
          iframe.answer-one
          iframe.answer-two
          iframe.answer-three