doctype html
head
  script(src="https://code.jquery.com/jquery-3.3.1.min.js")
  script(src="/js/hqsack.js")
  link(rel="stylesheet", type="text/css", href="/css/hqsack.css")
html
  body
    .container
      a.github(href="https://github.com/acrimi/HQSack", target="_blank")
        | HQSack &nbsp;
        img(src="/images/github.png", width="30px", height="30px")
      .countdown.hidden
        h1.title HQSack
        p.tag HQ Search Assist Client
        img(src="/images/cusack1.png")
        p.label The next game starts in
        .timer
          span.hours
          | :
          span.minutes
          | :
          span.seconds
      .waiting.hidden
        h1.title The game has begun!
        img(src="/images/cusack2.png")
        p.label.pulse Waiting for next question...
      .question.hidden
        p.question
        iframe.question
        .frames
          iframe.answer-one
          iframe.answer-two
          iframe.answer-three