@font-face
  font-family: 'Bebas Neue Light'
  src: url('../fonts/BebasNeue_Light.otf') format('otf')

html
  min-height: 100%
  background: linear-gradient(#f1f5fc, #d9e5ff)

body
  text-align: center
  font-family: 'Bebas Neue Light', sans-serif
  color: #555

.container
  position: relative
  overflow: auto

.hidden
  display: none !important

.ghost
  visibility: hidden !important

.action
  cursor: pointer
  text-decoration: underline
  color: inherit

.action.back
  position: absolute
  left: 10px
  top: 10px

.github
  position: absolute
  display: flex
  align-items: center
  top: 10px
  right: 10px
  text-decoration: none
  font-weight: 600
  font-size: 14px
  color: inherit