@import './common'

.extra-life
  position: absolute
  top: 10px
  right: 110px
  text-align: center
  .life-count
    position: absolute
    left: 0
    right: 0
    line-height: 32px
    font-size: 16px
    color: white

.options-wrapper
  position: absolute
  left: 10px
  top: 40px
  font-size: 14px
  input, label
    cursor: pointer

.action.test
  position: absolute
  left: 10px
  top: 10px

.title
  font-size: 42px
  font-weight: 600
  margin: 20px auto 0

.tag
  font-size: 16px
  font-weight: 600
  margin: 10px auto 20px

.label
  font-size: 20px
  margin-top: 50px


.question-timer
  position: absolute
  top: 10px
  right: 160px
  font-size: 30px
  font-weight: 600


.clock
  font-size: 100px

.waiting
  img
    margin-top: 30px
  .label
    font-size: 30px

.question
  .info
    span
      font-size: 20px
      font-weight: 600
    span.decoration
      color: #777
    .question-line
      margin: 10px
      -ms-user-select: none
      -moz-user-select: none
      -webkit-user-select: none
      user-select: none
      span.question-word
        cursor: pointer
        &:hover
          text-decoration: underline
  iframe.question-search
    width: 100%
    height: 400px
  .frames
    display: flex
    iframe
      flex-grow: 1
      height: 900px
  &.highlighted
    .decoration.one
      background: yellow
    .decoration.two
      background: lime
    .decoration.three
      background: aqua


.pulse
  animation pulse 1.5s infinite ease-in-out

@keyframes pulse {
  0% { opacity: 0.5; }
  50% { opacity: 1; }
  100% { opacity: 0.5; }
}
