@font-face
  font-family: 'Bebas Neue Light'
  src: url('../fonts/BebasNeue_Light.otf') format('otf')

html
  min-height: 100%
  background: linear-gradient(#f1f5fc, #d9e5ff)

body
  text-align: center
  font-family: 'Bebas Neue Light', sans-serif
  color: #555

.container
  position: relative
  overflow: auto

.hidden
  display: none !important

.action
  cursor: pointer
  text-decoration: underline
  color: inherit

.github
  position: absolute
  display: flex
  align-items: center
  top: 10px
  right: 10px
  text-decoration: none
  font-weight: 600
  font-size: 14px
  color: inherit

.options-wrapper
  position: absolute
  left: 10px
  top: 40px
  font-size: 14px
  input, label
    cursor: pointer

.action.test, .action.back
  position: absolute
  left: 10px
  top: 10px

.title
  font-size: 42px
  font-weight: 600
  margin: 20px auto 0

.tag
  font-size: 16px
  font-weight: 600
  margin: 10px auto 20px

.label
  font-size: 20px
  margin-top: 50px


.question-timer
  position: absolute
  top: 10px
  right: 150px
  font-size: 30px
  font-weight: 600


.clock
  font-size: 100px

.waiting
  img
    margin-top: 30px
  .label
    font-size: 30px

.question
  .info
    span
      font-size: 20px
      font-weight: 600
    span.decoration
      color: #777
    .question-line
      margin: 10px
      -ms-user-select: none
      -moz-user-select: none
      -webkit-user-select: none
      user-select: none
      span.question-word
        cursor: pointer
        &:hover
          text-decoration: underline
  iframe.question-search
    width: 100%
    height: 400px
  .frames
    display: flex
    iframe
      flex-grow: 1
      height: 900px
  &.highlighted
    .decoration.one
      background: yellow
    .decoration.two
      background: lime
    .decoration.three
      background: aqua


.pulse
  animation pulse 1.5s infinite ease-in-out

@keyframes pulse {
  0% { opacity: 0.5; }
  50% { opacity: 1; }
  100% { opacity: 0.5; }
}
