html
  min-height: 100%
  background: linear-gradient(#343999, #7073cd)

body
  text-align: center
  // background: #7073cd
  font-family: 'Open Sans', sans-serif
  color: white

h1.title
  font-size: 42px

.label
  font-size: 20px
  margin-top: 50px

.timer
  font-size: 100px